<h1>Event Manager</h1>

<div id="event-form">
  <%= render "form", event: @event %>
</div>

<table id="events-table" border="1" style="width: 100%; border-collapse: collapse;">
  <thead style="background: #444; color: white;">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @events %>
  </tbody>
</table>
